
@media print {

    @page {
        size: A4;
    }

    #app {
        min-height: 10px !important;
    }

    * :not(a) {
        color: black !important;
    }

    * {
        user-select: auto;
    }

    button {
        display: none !important;
    }

    .noprint {
        display: none !important;
    }

    div {
        break-inside: avoid;
    }



    .page-number {
        display: block !important;
    }
}
