@media print {



    @page {
        size: A4;
    }

    button {
        display: none !important;
    }

    .noprint {
        display: none !important;
    }

    div {
        break-inside: avoid;
    }

    .page-number {
        display: block !important;
    }
}
