
 /*  Edit button*/

button .btnedit{
          background-color: white;
          color: #8F3D71;
          font-size: 20px;
          font-weight: 800;
          border: 0px solid #0dcaf0;
          font-style: oblique;
      }
