<button @onclick="DownloadFile" class="btn  m-2 btn-info fs-5 ps-3 pe-3">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_134_55651)">
            <path d="M16.9244 16.8218C16.6931 16.8218 16.508 16.9966 16.4823 17.2279C16.2818 19.2124 14.6058 20.7599 12.5648 20.7599C10.5289 20.7599 8.8529 19.2124 8.64725 17.2279C8.62155 17.0017 8.43647 16.8218 8.20512 16.8218H2.85837C1.73761 16.8218 0.827637 17.7318 0.827637 18.8525V23.1093C0.827637 24.2301 1.73761 25.1401 2.85837 25.1401H22.2815C23.4022 25.1401 24.3122 24.2301 24.3122 23.1093V18.8577C24.3122 17.7369 23.4022 16.8269 22.2815 16.8269H16.9244V16.8218Z" fill="white" />
            <path d="M15.6031 10.2102L14.0145 11.7988V1.44465C14.0145 0.647779 13.3667 0 12.5698 0C11.773 0 11.1252 0.647779 11.1252 1.44465V11.7988L9.53659 10.2102C9.04818 9.72183 8.26673 9.59844 7.69093 9.98402C6.90434 10.5084 6.82723 11.5829 7.45958 12.2153L11.7164 16.4721C12.1894 16.9451 12.9554 16.9451 13.4284 16.4721L17.6852 12.2153C18.3176 11.5829 18.2405 10.5084 17.4539 9.98402C16.8729 9.5933 16.0915 9.71669 15.6031 10.2102Z" fill="white" />
        </g>
        <defs>
            <clipPath id="clip0_134_55651">
                <rect width="25.14" height="25.14" fill="white" />
            </clipPath>
        </defs>
    </svg>
    <span class="previewbtn">
        Download
    </span>
</button>
<button disabled=@disabled @onclick="Print" class="btn btn-info m-2 fs-5 ps-3 pe-3">
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.4325 15.0728H5.7614C5.44051 15.0728 5.17944 15.3338 5.17944 15.6547V20.0194C5.17944 20.3402 5.44051 20.6013 5.7614 20.6013H14.4325C14.7534 20.6013 15.0145 20.3402 15.0145 20.0194V15.6547C15.0145 15.3338 14.7534 15.0728 14.4325 15.0728Z" fill="white" />
        <path d="M19.2481 7.91455H0.858382C0.385079 7.91455 0 8.30615 0 8.78748V15.6545C0 16.1359 0.385079 16.5275 0.858382 16.5275H3.04071C3.51401 16.5275 3.89909 16.1359 3.89909 15.6545V14.1415C3.89909 13.9865 4.04184 13.8505 4.20461 13.8505H15.9019C16.0569 13.8505 16.1783 13.9783 16.1783 14.1415V15.6545C16.1783 16.1277 16.5847 16.5275 17.0658 16.5275H19.2481C19.7292 16.5275 20.1356 16.1277 20.1356 15.6545V8.78748C20.1356 8.31429 19.7292 7.91455 19.2481 7.91455ZM5.063 10.8825C5.063 11.0432 4.9327 11.1735 4.77202 11.1735H2.15323C1.99249 11.1735 1.86225 11.0432 1.86225 10.8825V9.71861C1.86225 9.55793 1.99249 9.42763 2.15323 9.42763H4.77202C4.9327 9.42763 5.063 9.55793 5.063 9.71861V10.8825ZM18.0406 10.8825C18.0406 11.0426 17.9096 11.1735 17.7496 11.1735H14.3161C14.156 11.1735 14.0251 11.0426 14.0251 10.8825V9.71861C14.0251 9.55857 14.156 9.42763 14.3161 9.42763H17.7496C17.9096 9.42763 18.0406 9.55857 18.0406 9.71861V10.8825Z" fill="white" />
        <path d="M5.38734 6.69247H5.39957H14.6654C14.8315 6.69247 15.0591 6.69247 15.2003 6.5116C15.3056 6.37676 15.3056 6.22167 15.3056 6.00693V0.931126C15.3056 0.417726 14.8879 0 14.3745 0H5.70334C5.18995 0 4.77222 0.417726 4.77222 0.931126V6.06506C4.77216 6.27794 4.77216 6.43175 4.89292 6.55856C5.02048 6.69247 5.18238 6.69247 5.38734 6.69247Z" fill="white" />
    </svg>
    <span class="previewbtn">
        Print
    </span>
</button>
@code {
    IJSInProcessRuntime JsInProcess => (IJSInProcessRuntime)JSRuntime;
    ToastParameters? _toastParameters;
    bool disabled = false;
    async void Print()
    {
        (disabled, _toastParameters) = (true, new());
        _toastParameters.Add(nameof(RegulationsToast.Title), @"Your CV is getting ready");
        _toastParameters.Add(nameof(RegulationsToast.ToastParam), @"Please disable Headers and Footers from options and use A4 for page size.");
        toastService.ShowToast<RegulationsToast>(_toastParameters, new ToastInstanceSettings(7, true));
        await Task.Delay(8000);
        JsInProcess.InvokeVoid("window.printwindow", null);
        await Enable();
    }
    public async Task Enable()
    {
        disabled = false;
        this.StateHasChanged();
        await Task.Delay(700);
    }
    string Json() => JsonSerializer.Serialize(CVModel.CV);
    async Task DownloadFile() => await JsInProcess.InvokeAsync<object>("saveFile", Json(), "CV");
}
