<h1>
    Welcome to CV Builder
</h1>

<h2>
    You can upload your Current CV here to edit it
</h2>
<h3>Must be in the Supported JSON scheme</h3>
<CVLoader></CVLoader>
<h2>
    Or you can create a new one here!
</h2>

<CVForm_Control />
