<h1>
    Welcome to CV Builder 2.3
</h1>
<h2>
    You can upload your Current CV here to edit it
</h2>
<CVLoader />
<h5>
    Must be in the Supported JSON scheme
</h5>
<h2>
    Or you can create a new one here!
</h2>
<CVForm_Control />