    <!-- Section Add Personal Data -->
    <h4>Your Personal Data</h4>
    <div class="form-group">
                <label>Name</label>
                <InputText maxlength = "50" class="form-control" id="name" @bind-Value="CVModel.CV.PersonalData!.Name"/>
                <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Name)" />
    </div>
    <div class="form-group">
                <label>Email</label>
                <InputText maxlength = "50" class="form-control" id="Email" @bind-Value="CVModel.CV.PersonalData!.Email"/>
                <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Email)" />
    </div>
    <div class="form-group">
                <label>Phone</label>
                <InputText maxlength = "15"  class="form-control" id="Phone" @bind-Value="CVModel.CV.PersonalData!.Phone"/>
                <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Phone)" />
    </div>
     <div class="form-group">
                <label>Address</label>
                <InputText class="form-control" id="Address" @bind-Value="CVModel.CV.PersonalData!.Address"/>
                <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Address)" />

            </div>

    @* <div class="form-group">
                <label>Full Date </label>
                <DateInput Date="CVModel.CV.PersonalData!.Date"/>
    </div>*@

    <br />
    <hr />