 @if (CVModel.CV.ProfessionalAffilations is not null)
{
    <br />
    <h4>Your Professional Affeilations</h4>
    @for (int i = 0; i < CVModel.CV.ProfessionalAffilations!.Count; i++)
    {
        <br />
        var j = i;
        @if (!CRUD.IsInEditState)
        {
            @if (!CVModel.CV.ProfessionalAffilations[j].InEditState)
            {
                <div style="float: left">
                    <button type="button" style="display: block" class="arrow up" @onclick="()=>CVModel.CV.ProfessionalAffilations.MoveUp(j) "></button>
                    <button type="button" class="arrow down" @onclick="()=>CVModel.CV.ProfessionalAffilations.MoveDown(j) "></button> <br />
                </div>
                <div style="margin-left: 55px">
                    <button type="button" class="btn btn-outline-secondary" @onclick="()=>CVModel.CV.ProfessionalAffilations.StartEdit(j) ">Edit </button><br />
                </div>
            }
        }
        @if (CVModel.CV.ProfessionalAffilations[j].InEditState)
        {
            <button type="button" class="btn btn-outline-dark" @onclick="()=>CVModel.CV.ProfessionalAffilations.Cancel()">Cancel</button>
            <button type="submit" class="btn btn-outline-success" @onclick="()=>CVModel.CV.ProfessionalAffilations.Save()">Save</button>
            <button type="button" class="btn btn-outline-danger" @onclick="()=>CVModel.CV.ProfessionalAffilations.Delete()">Delete</button>
            <div class="labeldata  p-2">
                <label for='@($"Data-{j}")'>Data</label>
                <InputText class="form-control" @bind-Value="CVModel.CV.ProfessionalAffilations[j].Value" id='@($"Data-{j}")' maxlength="100" />
                <ValidationMessage For="@(()=> CVModel.CV.ProfessionalAffilations[j].Value)" />
            </div>
        }
        else
        {
            <div class="labeldata  p-2">
                <label>Data</label>
                <label class="form-control">@CVModel.CV.ProfessionalAffilations[j].Value</label>
            </div>
        }
    }
}
<br />
<button type="submit" class="btn btn-outline-primary" @onclick="()=>CVModel.CV.ProfessionalAffilations.Create()">Add Professional Affeilations</button>
<br />