    <!-- Section Add Personal Data -->
    <h4>Your Personal Data</h4>
    <div class="form-group  p-2">
        <label for='Name'>Name</label>
        <InputText maxlength="50" class="form-control" id="Name" @bind-Value="CVModel.CV.PersonalData!.Name"/>
        <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Name)" />
    </div>
    <div class="form-group  p-2">
        <label for='Email'>Email</label>
        <InputText maxlength = "50" class="form-control" id="Email" @bind-Value="CVModel.CV.PersonalData!.Email"/>
        <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Email)" />
    </div>
    <div class="form-group  p-2">
        <label for='Phone'>Phone</label>
        <InputText maxlength="15"  class="form-control" id="Phone" @bind-Value="CVModel.CV.PersonalData!.Phone"/>
        <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Phone)" />
    </div>
    <div class="form-group  p-2">
        <label for='Address' >Address</label>
        <InputText class="form-control" id="Address" @bind-Value="CVModel.CV.PersonalData!.Address"/>
        <ValidationMessage For="@(()=> CVModel.CV.PersonalData!.Address)" />
    </div>
    <br />
    <hr />