<div class='modal modal-fullscreen bg-custom @(show ? "opened" : " ")'>
    <div class="modal-dialog   modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content float-end  ">
            <div class=" p-2">
                <button class="btn-close float-end" @onclick="ToggleShowModel" type="submit" aria-label="Close-Button"></button>
            </div>
            @ChildContent
        </div>
    </div>
</div>
<button type="submit" class="btn btn-outline-primary fs-5" @onclick="ToggleShowModel">Preview CV</button>
<br />
@code {
    bool show = false;
    void ToggleShowModel() => show = CVModel.CV.IsValid() ? !show : show;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}