<div class='modal modal-dialog-scrollable modal-fullscreen bg-custom @(show ? "opened" : " ")' @onclick="@ToggleShowModel">
    <div class="modal-dialog   modal-xl modal-dialog-centered" @onclick="@ToggleShowModel">
        <div class="modal-content float-end  ">
            <div class=" p-2">
                <button class="btn-close float-end" @onclick="ToggleShowModel" type="submit" aria-label="Close-Button"></button>
            </div>
            @ChildContent
        </div>
    </div>
</div>
<button type="submit" class="btn btn-info fs-5 float-end ps-4 pe-4 " @onclick="ToggleShowModel">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 1 17 17">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
    </svg>
    <span class="previewbtn">
        Preview
    </span>
</button>
<br />
@code {
    bool show = false;
    void ToggleShowModel() => show = CVModel.CV.IsValid() ? !show : show;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}