/*body{
   font-family:sans-serif;
  color:#333;
  text-align:center;
}
.btn-close {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}*/
 
 
.bg-custom {
    background-color: rgba(100,100,100,0.5);
    top:0 !important;
}
.opened {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    display: block;
}
.btn {
    margin: 10px;
}
@media print {
    .modal {
        width: 100vw !important;
        top: 0 !important;
        left: 0% !important;
        height: 100vh !important;
    }
    .bg-custom {
        display: block !important;
        background-color: #fff !important;
    }
    }
