body {
    background-color: #f3e5e5;
}

._hr {
    border-bottom: 1px solid black;
    height: 1px;
    margin: 5px;
    margin-right: -5px;
    margin-left: -5px;
}

.CV_container {
    padding: 2px 20px 20px;
    font-family: 'Fira Sans', sans-serif !important;
    letter-spacing: 2px;
    break-inside: avoid;
}

.f-9 {
    font-size: 9pt !important;
    font-weight: 600 !important;
    padding-bottom: 10px;
}

.f-10 {
    font-size: 10pt !important;
    font-family: Calibri !important;
    font-weight: 400 !important;
    letter-spacing: 0.2px;
}

.f-9-5 {
    font-size: 9.5pt !important;
    font-family: Calibri !important;
    font-weight: 400 !important;
    letter-spacing: 0.2px;
}

.fp-10 {
    font-size: 10pt !important;
}

.fp-16 {
    font-size: 16pt !important;
}

.f-12 {
    font-size: 12pt !important;
    font-family: Calibri !important;
    font-weight: 400 !important;
    letter-spacing: 0.2px;
}

label {
    display: block;
}
