nav ::-webkit-scrollbar {
    height: 5px !important;
    width: 5px;
}

/* Track */
nav ::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
nav ::-webkit-scrollbar-thumb {
    background: #34b3f1;
    border-radius: 2px;
}

    /* Handle on hover */
    nav ::-webkit-scrollbar-thumb:hover {
        background: #2e88b5;
    }

nav {
    max-height: 100vh !important;
    overflow-y: auto !important;
}
